@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/pomber/covid19" target="_blank">Data from Pomber/Covid19</a>
        <a href="https://orme.me" target="_blank" class="ml-md-auto">By Sam Orme</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
