@page "/charts/{CountryName}"
@inject HttpClient Http
@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.ChartJS.Common.Enums
@using ChartJs.Blazor.ChartJS.Common.Axes
@using ChartJs.Blazor.ChartJS.Common.Axes.Ticks
@using ChartJs.Blazor.ChartJS.Common.Handlers
@using ChartJs.Blazor.ChartJS.Common.Time
@using ChartJs.Blazor.ChartJS.LineChart
@using ChartJs.Blazor.Util
@using System.Drawing;

<h1>@(Country?.Name ?? CountryName)</h1>

@if (Countries == null) {
    <p><em>Loading...</em></p>
} else if (Country == null) {
    <p><em>No data for @CountryName</em></p>
} else {
    <ChartJsLineChart @ref="lineChartJs" Config="@lineConfig" Width="600" Height="300" />
}

@code {
    [Parameter]
    public string CountryName { get; set; }

    IEnumerable<Country> Countries;
    Country Country => Countries?.SingleOrDefault(i => i.Name == CountryName);
    LineConfig lineConfig;
    ChartJsLineChart lineChartJs;

    protected override async Task OnInitializedAsync() {
        Countries = await DataUtility.GetData(Http);

        if (Country == null) {
            return;
        }

        ConfigureChart();
        CreateDataSet(Color.Orange, "Confirmed", Country.Records.Select(i => (i.Date, i.Confirmed)));
        CreateDataSet(Color.Red, "Deaths", Country.Records.Select(i => (i.Date, i.Deaths)));
        CreateDataSet(Color.Green, "Recovered", Country.Records.Select(i => (i.Date, i.Recovered)));
        CreateDataSet(Color.Yellow, "Current", Country.Records.Select(i => (i.Date, i.Current)));
    }

    private void ConfigureChart() {
        lineConfig = new LineConfig {
            Options = new LineOptions {
                Responsive = true,
                Title = new OptionsTitle {
                    Display = true,
                },
                Legend = new Legend {
                    Position = Position.Bottom,
                    Labels = new LegendLabelConfiguration {
                        UsePointStyle = true,
                    }
                },
                Tooltips = new Tooltips {
                    Mode = InteractionMode.Nearest,
                    Intersect = false,
                },
                Scales = new Scales {
                    xAxes = new List<CartesianAxis> {
                        new TimeAxis {
                            Distribution = TimeDistribution.Linear,
                            Ticks = new TimeTicks {
                                Source = TickSource.Data,
                            },
                            Time = new TimeOptions {
                                Unit = TimeMeasurement.Day,
                                Round = TimeMeasurement.Day,
                                TooltipFormat = "DD/MM/YYYY",
                            },
                        },
                    },
                },
                Hover = new LineOptionsHover {
                    Intersect = true,
                    Mode = InteractionMode.Y,
                }
            }
        };
    }

    private void CreateDataSet(Color colour, string name, IEnumerable<(DateTime Date, int Value)> data) {
        var dataSet = new LineDataset<TimeTuple<int>> {
            BorderColor = ColorUtil.FromDrawingColor(colour),
            Label = name,
            Fill = false,
            BorderWidth = 3,
            PointRadius = 3,
            PointBorderWidth = 1,
            SteppedLine = SteppedLine.False,
        };

        dataSet.AddRange(data.Select(i => new TimeTuple<int>(new Moment(i.Date), i.Value)));

        lineConfig.Data.Datasets.Add(dataSet);
    }
}
